@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Cinzel:wght@800&display=swap');
body{
    margin:30px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right,black,rgb(155, 154, 154),black);
    overflow-x: hidden;
    background-repeat:no-repeat ;
    background-attachment:fixed ;
}

.container{
    position: relative;
    display:flex;
    left: 250px;
    top: 100px;
}

.img-container > img {
    object-position: 0px;
    transition: 1s ease-in-out;
    width: 250px;
    height: 640px;
    object-fit: cover;
    border-radius:10px ;
    border: black 1px solid;
    box-shadow: rgb(42, 42, 42) 0.1px 0.1px 30px 0.1px ;
}

img:hover{
    object-position: 0px;
    width: 640px;
}

.text{
    position: absolute;
    top: 82%;
    font-weight: bold;
    transition: 0.7s ease-in-out;
    text-shadow: black 3px 3px;
    font-size: 30px;
    opacity: 0;
    color: white;
    pointer-events: none;
    font-family: 'Chewy', cursive;
}

.img-container:hover .text{
    transform: translate(100px);
    opacity: 1;

}

